---
# Main Sass file
---

@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}

// only way to overide bootstrap body margin?
html > body {
  margin-bottom: 80px;
}

.navbar-wrapper {
    margin-top: 20px;
  // add nice rounded border to navbar
  .navbar {
      border-radius: 6px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  color: #777;
}

// Import partials from _sass/
@import "syntax-highlighting";
