---
layout: homepage
title: Home
---

<div class="jumbotron">
	<h2>The {{site.title}}</h2>
	<p>A member run Guild club that's about everything robotics.</p>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<div id="slides" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for image in site.data.images %}
					<li data-target="#slides" data-slide-to="{{ forloop.index | minus: 1 }}" {% if image.active %}class="active"{% endif %}></li>					
					{% endfor %}
				</ol>
				<div class="carousel-inner" role="listbox" style="max-height: 500px;">
					{% for image in site.data.images %}
						<div class="item {% if image.active %}active{% endif %}">
							<img {% if image.style %}style="{{ image.style }}"{% endif %} src="https://docs.google.com/uc?authuser=0&id={{ image.url }}&export=download" alt="{{ image.title }}"/>
						</div>
					{% endfor %}
				</div>
				<a class="left carousel-control" href="#slides" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
				<a class="right carousel-control" href="#slides" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9 col-sm-8 col-xs-12">
		Curtin Robotics Club (CRoC) is a club for people who love to create and build electronic projects. We as a club build robots, participate in robotics competitions, teach high school students to build a robot with Engineering Outreach, and much more. Our objective is to create a club and a fun environment for students who share the same interest.
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">Site Navigation</div>
			<div class="list-group">
				{% for p in site.pages %}
					{% if p.title %}
						<a href="{{p.url | remove: '.html'}}" class="list-group-item">{{p.title}}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
