<!-- Footer included at the bottom of every page -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6">
        <p class="text-muted">{{ site.title }}</p>
      </div>
      <div class="col-md-4 col-sm-4 hidden-xs col-centered">
        <p class="text-muted">Last updated: {{ site.time | date_to_string }}</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-right">
        <i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
        <a href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
