<!-- Default page layout: includes head metadata, navbar, footer and a
consistent header format. Content layout is left to each page. -->
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <h2 class="page-header">{{ page.title }}</h2>
      <!-- <div class="row">
        <div class="col-sm-3"></div>
      </div> -->
      <!-- <h2>{{ page.title }}</h2> -->
      <!-- <div class="well"> -->
        {{ content }}
      <!-- </div> -->
    </div>

    {% include footer.html %}

  </body>

</html>
